
.noselect {
	width: 150px;
	height: 50px;
	cursor: pointer;
    margin-left: 300px;
	display: flex;
	align-items: center;
	background: rgb(20, 161, 216);
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #11a5aa;
}

.noselect, .noselect span {
	transition: 200ms;
}

.noselect .text {
	transform: translateX(35px);
	color: white;
	font-weight: bold;
}

.noselect .icon {
	position: absolute;
	border-left: 1px solid #179db4;
	transform: translateX(110px);
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.noselect svg {
	width: 15px;
	fill: #eee;
}

.noselect:hover {
	background: #0bc6cc;
}

.noselect:hover .text {
	color: transparent;
}

.noselect:hover .icon {
	width: 150px;
	border-left: none;
	transform: translateX(0);
}

.noselect:focus {
	outline: none;
}